<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/my_posts.css' %}">
    <title>Мои посты</title>
</head>
<body>
    <header>
        <a href="/posts">Все посты</a>
        <a href="/posts/add_post">Добавить пост</a>
        <a href="/posts/my_posts">Мои посты</a>
        <button id="showUser" type="button">Пользователь</button>
        <dialog id="dialog">
            <p>{{ test }}</p>
            <button type="button"><a href="/authorization">Выйти</a></button>
        </dialog>
    </header>
    <main>
        {% for post in posts %}
            <form method="post">
                {% csrf_token %}
                <div class="post">
                    <h2>{{ post.name }}</h2>
                    <p>Лайки: {{ post.like }}</p>
                    <a href="./post_red/?id={{post.id}}">Редактировать</a>
                    <button type="submit" name="id" value="{{post.id}}">Удалить</button>
                </div>
            </form>
        {% endfor %}
    </main>
</body>
<script src="{% static 'js/index.js' %}"></script>
</html>