<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
    <title>Посты</title>
</head>
<body>
    <header>
        <a href="/posts/">Все посты</a>
        <a href="/posts/add_post">Добавить пост</a>
        <a href="/posts/my_posts">Мои посты</a>
        <button id="showUser" type="button">Пользователь</button>
        <dialog id="dialog">
            <p>{{ test }}</p>
            <button type="button"><a href="/authorization">Выйти</a></button>
        </dialog>
    </header>
    <main>
        <div class="container">
            {% for post in posts %}
               <h3>{{ post.user_email }}</h3>
                <h2><a href="./post_info/?id={{ post.id }}">{{ post.name }}</a></h2>
                <br>
            {% endfor %}
        </div>
    </main>
</body>
<script src="{% static 'js/index.js' %}"></script>
</html>