<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Авторизация</title>
</head>
<body style="display: flex; justify-content: center;">
    <div class="container">
        <h2 >Авторизация</h2>
        <form id="form" method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
            {% endfor %}
        </form>
        <input type="submit" form="form" value="Войти">
        <a href="/authorization/registration">Зарегистрироваться?</a>
    </div>

</body>
</html>